<app-release></app-release>
<!--
<div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:22px;padding:10rem 2rem;text-align: center">
  <p-dataTable class="tableScroll" [value]="tableRows" selectionMode="single" scrollable="true" scrollHeight="185px" expandableRows="true"
                #dt1 (onRowClick)="dt1.toggleRow($event.data)">
                <p-column field="environment" header="Environment"></p-column>
                <p-column field="date" header="Deployment Date"></p-column>
                <p-column field="release" header="Release Version"></p-column>
                <ng-template let-car pTemplate="rowexpansion">
                  <div class="ui-grid ui-grid-responsive ui-fluid">
                    <div class="ui-grid-row">
                      <p-dataTable [value]="car.subTableRows">
                        <p-column field="server" header="Server"></p-column>
                        <p-column field="timestamp" header="Deployment Timestamp"></p-column>
                        <p-column field="release" header="Release Version"></p-column>
                      </p-dataTable>
                    </div>
                  </div>
                </ng-template>
              </p-dataTable>

</div>
              -->